.flexContainer{
    display: flex;
    height:100vh;
    /* flex-direction: column; */
    justify-content: center;
    align-self: center;
}
.calcBody {
    display: flex; 
    width: 42vw;
    flex-direction: column;
    align-items: center;
    align-self: center;

}
#displayScreen{
    display: flex;
    flex-direction: column;
   /* flex:1 0 auto; */
   box-sizing: border-box;
   padding: 7px;
    height: 14vw;
    width: 42vw;
    align-items: flex-end;
    justify-content: space-around;
}
.keyPad{
    display: flex;
    flex-wrap: wrap;
}

#oppClear,
#oppEnter{
    flex: 2 1 auto
}
.clearDel,
.digitPadRowOne,
.digitPadRowTwo,
.digitPadRowThree,
.digitPadRowFour
{
    justify-content: left;
    display: flex;
    width: 28vw;
    flex-wrap: wrap;
}



button[id^=num] {
    display: flex;
    width: 7vw;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    
}


.operators{
    display: flex; 
    flex-direction: column;
}
button[id*=opp]{
    display: flex;
    /* flex: 1 0 auto; */
    aspect-ratio: 1/1;
    height: 7vw;
    justify-content: center;    
    align-items: center;
}

div {
  outline: red solid 1px;
}
