.flexContainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
.calcBody {
    display: flex; 
    width: 42vw;
    flex-direction: column;
    align-items: center;
    font-size: larger;

}
.displayScreen{
    /* display: flex; */
    flex:1 0 auto;
    height: 20vh;
    width: 35vw;
}
.keyPad{
    display: flex;
    flex-wrap: wrap;
}
div[class*=digitPad]{
    justify-content: left;
    display: flex;
    width: 21vw;
    flex-wrap: wrap;
}
div[id*=num] {
    display: flex;
    width: 7vw;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    
}
#num0{
    aspect-ratio: auto;
    width: 14vw;
}

.operators{
    display: flex; 
    flex-direction: column;
}
div[id*=opp]{
    display: flex;
    flex: 1 0 auto;
    aspect-ratio: 1/1;
    width: 5vw;
    justify-content: center;    
    align-items: center;
}

div {
  outline: red solid 1px;
}
